<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление гостиницей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Управление гостиницей</h1>
    <div class="button-container">
        <a href="{{ url_for('book') }}" class="button">Забронировать</a>
        <a href="{{ url_for('view') }}" class="button">Просмотр записей</a>
        <a href="{{ url_for('employees') }}" class="button">Сотрудники</a>
    </div>
</body>
</html>
